<h1>Bem vindo a madereira ideal</h1>

<p>Aqui a madeira é barato!!</p>

<%= link_to 'Fazer uma Compra', produtos_path %>
<hr>
<%= link_to 'Fazer uma Venda', produtos_path %>
<hr>
<%= link_to 'Historico de vendas', produtos_path %>
<hr>
